body {
    font-family:  Helvetica, Arial, sans-serif;
}

body > footer {
    background-color: green;
}

body > footer > p {
    padding: 16px;
    color: white;
    text-align: center;
}

body > header {
    background-color: green;
    color: white;

}

#logo {
    margin:0;
    padding: 10px;
    font-family: Roboto;
}

nav > ul{
    list-style: none;
}

nav > ul > li > a {
    color:brown;
}

body > main > article {
    width: 70%;
    margin: auto;
}

.like-button {
    background-color: purple;
    border: 5px solid yellow;
    color: hotpink;

}

.share-button {
    background-color: blue;
    border: 5 px solid orange;
}